body {
    background-color: pink;
  }
  h1 {
    color: black;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: left;
  }
  img {
    float: left;
    vertical-align: left;
    width: 20%;
    height: 200px;
  }