body {
    background-color: lightpink;
  }
  
  header {
    color: white;
    text-align: center;
  }

   h3 {
    color: black;
    text-align: center
  }

  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }

  img { 
    display: block;
    margin: auto;
    max-width: 300px;
  }

  footer {
    color: black;
    text-align: center;
  }